header{
    background-color: rgb(35, 35, 35); 
}
.container{
    padding: 0;
    margin: auto;
    display:block;
    color: rgb(2, 2, 2);
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarabun', sans-serif;
}
.note{
    line-height: 2.5rem;
}
.me{
    justify-content: center;
}



